#first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:3rem;
    justify-content: center;
    padding:3rem;
}
#first>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
#first>div>p{
    margin:1rem;
    width: 90%;
}

#first>picture>img{
    width: 100%;
    object-fit: scale-down;
}
#first>div>button{
    width: fit-content;
    border: none;
    background: orange;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 2rem;
    cursor: pointer;
}
@media(max-width:750px){
    #first{
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(50vh, auto);
        padding-block: 0;
    }
    #first>div{
        min-width: 360px;
        align-items: center;
    }
    #first>div>p{
        text-align: justify;
        width: 80%;
    }
    #first>div>*{
        width: 80%;
        margin:.5rem;
    }
}
@media(min-width:751px){
    #first>div{
        padding:3rem;
    }
}