#first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:3rem;
    justify-content: center;
    padding:3rem;
}
#first>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    padding:3rem;
}

#first>picture>img{
    width: 100%;
}
#first>div>button{
    width: fit-content;
    border: none;
    background: orange;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 2rem;
}
@media(max-width:750px){
    #first{
        max-height: 100vh;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
    #first>div>*{
        margin:.5rem;
    }
}