*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:sans-serif;
}
body{
    display: flex;
    place-content: center;
    min-height: 100vh;
    max-width: 100vw;
}
main{

    width: 80%;
    max-width: 1300px;
}
main>section{
    margin-block: 2rem;
}
img{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
p{
    font-size: 1.5rem;
}